/* 页头 */

body{
	background: #070604 url({STYLEIMGDIR}/body-bg-baked-wod-cn.jpg) 50% 45px no-repeat;
}

a{
	color:rgb(255, 164, 0);
}

#toptb{
	background: #0d1d0d;
    border-color: rgba(0, 0, 0, 0.07)
}

.wp{
	width: 994px;
}

#toptb .wp,#toptb .wp .z a ,#toptb .wp .y a{
   height: 44px;
   line-height: 44px;
}
#toptb .wp .z a ,#toptb .wp .y a{
	font-family: 微软雅黑, 'Microsoft YaHei', Helvetica, Tahoma, StSun, 宋体, SimSun, sans-serif;
	color: rgba(255, 255, 255, 0.7);
	font-size: 17px;
	text-decoration:none; 
}

#toptb .wp .z a:hover ,#toptb .wp .y a:hover{
	color:white;
}

#hd .wp{
	height: 204px;

	position: relative;
    z-index: 50;
    padding-top: 26px;
}

#logo{
	    height: 115px;
}

#logo a {
    width: 275px;
    height: 115px;
    display: block;
    border: none;
    text-indent: -9999px;
}

.hdc{
	min-height: 0px;
}

/* search bar */
.search-bar { position: absolute; right: 5px; top: 75px; z-index: 5;  }
.search-bar form { float: right; width: 354px; height: 30px; }
.search-bar div { position: relative; }
.search-bar .input { width: 352px; padding: 8px 40px 8px 8px; background: #fff; }
.search-bar .input-ghost { display: none; }
.search-bar .search-field { color: #707070; border-radius: 5px; box-shadow: 0 0 10px #393744; }
.search-bar .search-field.active,
.search-bar .search-field:focus { color: #000; font-weight: normal; }
.search-bar .search-button { border:none; outline: none; position: absolute; top: -6px; right: -6px; cursor: pointer; background: url({STYLEIMGDIR}/mag-glass.png) center center no-repeat; width: 44px; height: 46px; z-index: 7; }


/* menu */
#menu { width: 623px; height: 65px; position: absolute; left: 10px;top: 19px; -moz-user-select: none; -webkit-user-select: none; user-select: none; background-image: url({STYLEIMGDIR}/menu-tab-baked.jpg); }
#menu li { width: 102px; float: left; height: 65px; }
#menu li a { height: 65px; display: block; text-align: center; text-transform: uppercase; color: #ffa400;text-decoration: none; }
#menu li a span { padding-top: 45px; display: block; font: normal 12px Arial, Verdana, serif; text-shadow: #000 0 0 5px; position: relative; top: -5px }
#menu li a:hover,
#menu li a.menu-active { background-image: url({STYLEIMGDIR}/menu-tab-baked.jpg); }
#menu li a:hover { color: white; }
#menu li a.menu-active { color: #fff !important; -moz-box-shadow: 0 0 15px #ff7501; -webkit-box-shadow: 0 0 15px #ff7501; box-shadow: 0 0 15px #ff7501; position: relative; }
#menu li.menu-game,
#menu li.menu-forums { width: 104px }
#menu li.menu-community,
#menu li.menu-media { width: 105px }
#menu li.menu-home a:hover { background-position: 0 -65px }
#menu li.menu-home a.menu-active { background-position: 0 -130px !important }
#menu li.menu-game a:hover { background-position: -102px -65px }
#menu li.menu-game a.menu-active { background-position: -102px -130px !important }
#menu li.menu-community a:hover { background-position: -206px -65px }
#menu li.menu-community a.menu-active { background-position: -206px -130px !important }
#menu li.menu-media a:hover { background-position: -311px -65px }
#menu li.menu-media a.menu-active { background-position: -311px -130px !important }
#menu li.menu-forums a:hover { background-position: -416px -65px }
#menu li.menu-forums a.menu-active { background-position: -416px -130px !important }
#menu li.menu-services a:hover { background-position: -520px -65px }
#menu li.menu-services a.menu-active { background-position: -520px -130px !important }
.chrome #menu li a span { text-shadow: none; }

#hd .wp .header-plate { height: 93px; position: relative; }
#hd .wp .user-plate { color: #fff; width: 355px; height: 84px; position: absolute; right: 3px; bottom: 1px; }
.ie6 #hd .wp .user-plate { right:2px }

#hd .wp .user-plate .character-card { position:relative; z-index:1; }

#hd .wp .user-plate .character-name,
#hd .wp .user-plate .guild-name { float:left; clear:left; pointer-events:auto; }
#hd .wp .user-plate .meta-no-wow .player-name, #hd .wp .user-plate .meta-no-character .player-name { float:none; }
#hd .wp .user-plate .meta { position: relative; }
#hd .wp .user-plate .player-name,
#hd .wp .user-plate .guild-name { display: block; text-shadow: 1px 1px 1px black; font-weight: bold; font-size:12px; text-overflow: ellipsis; max-width: 250px; overflow: hidden; white-space: nowrap;}
#hd .wp .user-plate .context-link { text-shadow: 1px 1px 1px black; font-weight: bold; }
#hd .wp .user-plate .player-name { color: #b0d715; font-weight: bold; line-height: 100%; margin-bottom: 2px; }
#hd .wp .user-plate .character-name { line-height: 100%; font-weight: bold; font-size: 24px; margin: 0; padding:0; background: none; letter-spacing: -0.0em; text-shadow: 1px 1px 1px black; letter-spacing: -0.05em; pointer-events: auto; }
#hd .wp .user-plate .character-name.name-small { font-size: 20px; }
#hd .wp .user-plate .character-name.context-open,
#hd .wp .user-plate .character-name:hover { color: white; }
#hd .wp .user-plate .character-name:after { background: url({STYLEIMGDIR}/charcard-neutral.jpg) 0 3px no-repeat; display: inline-block; width: 11px; height: 15px; content:''; }
#hd .wp .user-plate .character-name:hover:after { background-position: 0 -145px; }

#hd .wp .user-plate .avatar-frame { position:absolute; right:0; top:0; border:solid 1px #c3ff00; pointer-events:none; }
#hd .wp .user-plate .meta-horde .avatar-frame { border-color: #e23739; }
#hd .wp .user-plate .meta-alliance .avatar-frame { border-color: #00bbf6; }
#hd .wp .user-plate .avatar-frame, #hd .wp .user-plate .avatar-wow { width:58px; height:58px; }

#hd .wp .user-plate .card-character { width: 326px; height: 84px; padding:0 0 0 30px; display: block; color: #EEE; font-size: 14px; background: url({STYLEIMGDIR}/charcard-neutral.jpg) 0 0 no-repeat; position: absolute; bottom:-1px; right: 0; text-overflow: ellipsis; line-height: 1.4em; z-index:1; }
#hd .wp .user-plate .card-character strong { color: #ffb100; }
#hd .wp .user-plate .card-character .login-msg { display:block; float:left; width:210px; margin-top:18px;  text-shadow:1px 1px 1px #555 }
#hd .wp .user-plate .card-character .wow-login-key { display:block; position:absolute; right:50px; top:31px; width:50px; height:42px; background:url({STYLEIMGDIR}/key.png) no-repeat }
.ie6 #hd .wp .user-plate .card-character .wow-login-key { background-image:url({STYLEIMGDIR}/key.png) }
#hd .wp .user-plate a.card-character:hover { color: #fff; background-position: 0 -84px; }
#hd .wp .user-plate a.card-character:hover strong { color: white; }
#hd .wp .user-plate .card-character .card-portrait { width:58px; height:58px; display:block; float:right; border:1px solid #c3ff00; background:url({STYLEIMGDIR}/avatar-neutral.jpg) 50% 50% no-repeat; margin-top:7px; margin-right:21px }
.ie6 #hd .wp .user-plate .card-character .card-portrait { margin-right:10px }

#hd .wp .user-plate .meta-wrapper { position:relative; padding:10px 15px 10px 30px; z-index:1; pointer-events:none; }

#hd .wp .user-plate .card-character.plate-neutral  .card-portrait,
#hd .wp .user-plate .card-character.plate-alliance .card-portrait,
#hd .wp .user-plate .card-character.plate-horde    .card-portrait { background-size:74px }

#hd .wp .user-plate .card-character.plate-alliance { background-image:url(../images/layout/cards-legion/charcard-alliance.jpg) }
#hd .wp .user-plate .card-character.plate-horde { background-image:url(../images/layout/cards-legion/charcard-horde.jpg) }

#hd .wp .user-plate .meta-default .meta { width:240px; margin-top:13px }

#hd .wp .user-plate .meta-login-error .meta,
#hd .wp .user-plate .meta-no-wow .meta { text-shadow:1px 1px 1px #555; width:280px; margin-top:7px }

.pt-br #hd .wp .user-plate .meta-login-error .meta { width:280px }
.es-mx #hd .wp .user-plate .meta-login-error .meta { width:280px }
.es-mx #hd .wp .user-plate .meta-no-wow .meta { margin-top:13px }

#hd .wp .user-plate .meta-alliance .player-name { color: #5fb8eb; }
#hd .wp .user-plate .meta-alliance .character-name:hover { color: white; text-shadow: 1px 1px 1px black, 0 0 15px #409aff, 0 0 5px #409aff; }
#hd .wp .user-plate .meta-horde .player-name { color: #eb1212; }
#hd .wp .user-plate .meta-horde .character-name:hover { color: white; text-shadow: 1px 1px 1px black, 0 0 15px #c64040, 0 0 5px #c64040; }

#hd .wp .user-plate .ui-context { top: 40px; pointer-events: auto; }
#hd .wp .user-plate .ui-context a { color: #00B6FF; }
#hd .wp .user-plate .ui-context a:hover { color: #fff; }



#pt .z{

padding: 7px 0 0 20px;
}


#ft{
	border: none;
}




.m_c {
	background-color: #170C06;
}


.pbt input,textarea,#seccodeverify_cSvsRWos{
    color: #00B6FF;
    background-color: #643414 !important;
    border: none;
}

.area,.tedt .bar{
	border: none;
	background-color: #643414;
}

.px, .pt, .ps, select{
	background-image: none;
}

.tedt .area{
	padding: 0px;
}

