/** forum::index**/
#blizz-tracker-lite{
	position: relative;
}

#blizz-tracker-lite a {
	position: relative;
	text-decoration: none;

}



#blizz-tracker-lite .blizzard-posts {
    padding-top: 27px;
    height: 240px
}

#blizz-tracker-lite .blizzard-posts-empty {
    height: 80px
}

#blizz-tracker-lite .blizzard-posts .header-2 {
    height: 27px;
    padding-left: 80px
}

#blizz-tracker-lite .blizzard-posts .header-2 a {
    font-weight: normal;
    font-size: 11px;
    letter-spacing: .02em;
    text-transform: none
}

#blizz-tracker-lite.cjk .blizzard-posts .header-2 a {
    font-size: 12px;

}

#blizz-tracker-lite .blizzard-posts .paging-arrow {
    background-image: url({STYLEIMGDIR}/bt_lite_ctrl.gif)
}

#blizz-tracker-lite .blizzard-posts .paging-arrow.arrow-left {
    background-position: 0 0
}

#blizz-tracker-lite .blizzard-posts .paging-arrow.arrow-left:hover {
    background-position: 0 100%
}

#blizz-tracker-lite .blizzard-posts .paging-arrow.arrow-right {
    background-position: 100% 0
}

#blizz-tracker-lite .blizzard-posts .paging-arrow.arrow-right:hover {
    background-position: 100% 100%
}

#blizz-tracker-lite .blizzard-posts .mask-wrapper .mask-edge {
    background-image: url({STYLEIMGDIR}/bt_mask_bg.png);
    background-repeat: no-repeat
}

.ie67 #blizz-tracker-lite .blizzard-posts .mask-wrapper .mask-edge {
    background-image: url({STYLEIMGDIR}/bt_mask_bg.gif)
}

#blizz-tracker-lite .blizzard-posts .mask-wrapper .mask-edge.mask-left {
    background-position: 0 0
}

#blizz-tracker-lite .blizzard-posts .mask-wrapper .mask-edge.mask-right {
    background-position: 100% 0
}

#blizz-tracker-lite .blizzard-posts .tracked-blizzard-post {
    background: url({STYLEIMGDIR}/bt_lite_bg.png) no-repeat
}

#blizz-tracker-lite .blizzard-posts .tracked-blizzard-post:nth-child(1) {
    background-position: 0 0
}

#blizz-tracker-lite .blizzard-posts .tracked-blizzard-post:nth-child(1):hover {
    background-position: 0 100%
}

#blizz-tracker-lite .blizzard-posts .tracked-blizzard-post:nth-child(2) {
    background-position: -307px 0
}

#blizz-tracker-lite .blizzard-posts .tracked-blizzard-post:nth-child(2):hover {
    background-position: -307px 100%
}

#blizz-tracker-lite .blizzard-posts .tracked-blizzard-post:nth-child(3) {
    background-position: -614px 0
}

#blizz-tracker-lite .blizzard-posts .tracked-blizzard-post:nth-child(3):hover {
    background-position: -614px 100%
}

#blizz-tracker-lite .blizzard-posts .tracked-blizzard-post .desc {
    padding: 35px 35px 0 35px;
    display: block
}

#blizz-tracker-lite .blizzard-posts .tracked-blizzard-post .desc .int {
    height: 65px;
    line-height: 125%;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden
} 

/*-------------*/
#blizz-tracker-lite .blizzard-posts .paging-arrow {
    position: absolute;
    top: 94px;
    z-index: 3;
    width: 40px;
    height: 65px
}

#blizz-tracker-lite .blizzard-posts .paging-arrow.arrow-left {
    left: 0;
}

#blizz-tracker-lite .blizzard-posts .paging-arrow.arrow-right {
    right: 0
}

#blizz-tracker-lite .blizzard-posts .mask-wrapper {
    width: 994px;
    height: 193px;
    position: absolute;
    overflow: hidden
}

#blizz-tracker-lite .blizzard-posts .mask-wrapper .mask-edge {
    height: 200px;
    position: absolute
}

#blizz-tracker-lite .blizzard-posts .mask-wrapper .mask-edge.mask-left {
    left: 0;
    width: 68px
}

#blizz-tracker-lite .blizzard-posts .mask-wrapper .mask-edge.mask-right {
    right: 0;
    width: 68px
}

#blizz-tracker-lite .blizzard-posts .mask-wrapper .mask {
    width: 994px;
    height: 193px;
    position: absolute;
    overflow: hidden
}

#blizz-tracker-lite .blizzard-posts .mask-wrapper .mask .holder {
    height: 185px;
    position: absolute;
    left: 35px;
    white-space: nowrap
}

#blizz-tracker-lite .blizzard-posts .mask-wrapper .mask .holder .set {
    white-space: normal;
    height: 185px;
    overflow: hidden;
    float: left
}

#blizz-tracker-lite .blizzard-posts .mask-wrapper .mask .holder .set .tracked-blizzard-post {
    width: 307px;
    height: 185px;
    display: block;
    position: relative;
    float: left
}


#blizz-tracker-lite .blizzard-posts .mask-wrapper .mask-edge.mask-right { background-position: right -58px; }
#blizz-tracker-lite .blizzard-posts .mask-wrapper .mask-edge.mask-left { background-position: 0 -58px; }


#blizz-tracker-lite .blizzard-posts .mask-wrapper .mask .holder .set .tracked-blizzard-post {
    height: 193px;
}

#blizz-tracker-lite .blizzard-posts .tracked-blizzard-post .info {
    position: absolute;
    top: 114px;
    font-size: 10px;
    left: 35px;
    width: 235px;
    line-height: 150%;
}

.tracked-blizzard-post .desc {
    color: #004e8a;
}

.tracked-blizzard-post .info {
    color: #613916;
}


.employee-icon {
    background-image: url({STYLEIMGDIR}/employee.gif);
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 13px
}

.employee-icon a {
    display: block;
    overflow: hidden;
    width: 20px;
    height: 13px
}

#blizz-tracker-lite .blizzard-posts .tracked-blizzard-post .info .char .employee-icon {
    float: left;
    position: relative;
    top: 2px;
    margin-right: 2px;
}
#blizz-tracker-lite .forum-post-icon .blizzard_icon, .employee-icon {
    background-image: url({STYLEIMGDIR}/icon_netease.gif);
    background-position: 0 100%;
}

#blizz-tracker-lite  .blizzard-posts .tracked-blizzard-post .info .char {
    font-size: 12px;
    font-weight: bold;
    color:black;
}

#blizz-tracker-lite .blizzard-posts .header-2 {
    height: auto;
    color: #f0e29a;
    font-size: 12px;
    padding-left: 45px;
}

#blizz-tracker-lite .blizzard-posts .tracked-blizzard-post .desc {
    padding: 50px 24px 0;
}

#blizz-tracker-lite .blizzard-posts .paging-arrow {
    height: 67px;
    top: 50%;
    margin-top: -20px;
    background-image: url({STYLEIMGDIR}/bt_lite_ctrl.gif);
}


#wp{
    background: url({STYLEIMGDIR}/bt-lite-bg.jpg) 0 0 no-repeat;
    /*background: url({STYLEIMGDIR}/content-topbot.jpg) 0 0 no-repeat;*/
}

#ct .mn{
	
	background: url({STYLEIMGDIR}/bg-index.jpg) no-repeat 0 0 ;
}

#ct div.bm_h.cl > h2{
	margin-top: 15px;
}

.fl .bm{
	padding: 10px 0;
}

.fl .bm_h{
	background:none;
	border: none;
}
.fl_row td{
	border: none;
}

.bm_h{
	height: auto;
}
.bmw .bm_h a {
    color: #71330e;
    margin: 0;
    padding: 0 0 0 20px;
    font: 20px arial;
    line-height: 41px;
    letter-spacing: -0.05em;
    background: url({STYLEIMGDIR}/collapse-expand.png) no-repeat 0 -8px;
   
    text-decoration: none;
}

.bmw .bm_h a:hover{
	color: white;
	/*background-position: 100% -106px;*/
	 background-position: 0 -90px;
}



.bm_h .o{
	display: none;
} 




.bm{
	background: none;
	border: none;
}

.bmw{
	border: none;
}

.fl_tb td .wowdiv{
	width: 310px;
	height:106px;
	background-color: rgba(0, 0, 0, 0.25);
	margin: 2px;
}

.fl_icn_g {
	  width: 50px;
    height: 50px;
    padding: 10px 0 0 10px;
    float: left;
    display: block;
    text-align: center;
}

.wowdiv dl{
	display: block;
    float: left;
    padding: 11px 0 0 3px;
    margin-left: 0px !important;
}

.wowdiv a{
	text-decoration: none;
}

.wowdiv a:hover{
	color: white;
}

#ct .mn{
	background-color: #1a0f08 !important;
}

.bm_h{
	background: url({STYLEIMGDIR}/code_bg.png);
    margin-top: 10px;
    border: none;

}

.bbda{
	border: none;
}

#scrolltop{
	display: none;
}
/** end **/



/** forum::forumdisplay**/
.mn{
	width: 100%;
}

.bm {
     border:none; 
     background: none; 
}

.ico_increase, .ico_fall{
	background-image: none;
}
#ct > div > div.bm.bml.pbn > div > h1 > span{
	color: #a99877;
}




#newspecialtmp> img{
    display: none;
}


#newspecial .button-left,#newspecial .button-right { background-image: url({STYLEIMGDIR}/button-1.png); background-repeat: no-repeat; color: #ffae00; }
#newspecial .button-left { padding:0 0 0 28px; background-position:0 0; height:38px; line-height:37px; }
#newspecial .button-right { padding: 0 28px 0 0; background-position: 100% -123px; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:12px; height:38px; line-height:38px; text-transform: uppercase; }
#newspecial .button-right { font-family: Dotum; }
#newspecial:hover .button-left { background-position: 0 -41px; }
#newspecial:hover .button-right { color:#FFF; background-position:100% -164px; }

#newspecial.processing .button-left,
#newspecial.processing:hover .button-left,
#newspecial.disabled .button-left,
#newspecial.disabled:hover .button-left { background-position: 0 -82px; cursor: default; }

#newspecial.processing .button-right,
#newspecial.processing:hover .button-right,
#newspecial.disabled .button-right,
#newspecial.disabled:hover .button-right { background-position: 100% -205px; cursor: default; color: #953203 }

#newspecial.previous .button-left, #newspecial.next .button-right { background-image: url("../images/buttons/button-1-previous.png"); }
#newspecial.previous .button-left { padding-left:28px; }
#newspecial.previous .button-right { padding-right:12px; }

#newspecial.next .button-left, #newspecial.next .button-right { background-image: url("../images/buttons/button-1-next.png"); }
#newspecial.next .button-left { padding-left:12px; }
#newspecial.next .button-right { padding-right:28px; }

.button-right,.button-left{
    display: inline-block;
}



/* pagination */
.pg a, .pg strong, .pgb a, .pg label{
 background: #2b1507;
  color: #d3ac6b;
border: none;
}
.pg strong{
    
    background-color: #ffae00; color: #000; font-weight: bold;
}
.pg a:hover{
    color: white;
    background-color: #4e2f1b;
}

.pg a.nxt {
    background-image: none;
    display: none;
}

.pg a.prev {
   background-image: none;
   display: none;
}

.tl .th{
    border: none;
    background: none;
    color: #775e3a;
}


.xi2, .xi2 a, .xi3 a{
    color: #775e3a;
}

.tl th a:visited, .tl td.fn a:visited{
    color: #775e3a;
}

#wp {
    background: url({STYLEIMGDIR}/content-topbot.jpg) 0 0 no-repeat;
    background-color: #1a0f08 !important;
}


.tf .showmenu:hover {
    border-color: #C2D5E3;
}
.tl th a, .tl td a{
    text-decoration: none;
}

.tl th, .tl td{

    border-bottom: 1px solid #261913;
}

.tl .ts th,.tl .ts td {
    border:none;
    background: none;
}

.tl tr:hover th,.tl tr:hover td {
    background-color: #261307;
}

#autopbn{
    border: none;
}
.bm_h{
    border: none;
    background: none;
}
#autopbn:hover{
    background-color: #261307;
}

#newspecialtmp .button-left,#newspecialtmp .button-right { background-image: url({STYLEIMGDIR}/button-1.png); background-repeat: no-repeat; color: #ffae00; }
#newspecialtmp .button-left { padding:0 0 0 28px; background-position:0 0; height:38px; line-height:37px; }
#newspecialtmp .button-right { padding: 0 28px 0 0; background-position: 100% -123px; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:12px; height:38px; line-height:38px; text-transform: uppercase; }
#newspecialtmp .button-right { font-family: Dotum; }
#newspecialtmp:hover .button-left { background-position: 0 -41px; }
#newspecialtmp:hover .button-right { color:#FFF; background-position:100% -164px; }

#newspecialtmp.processing .button-left,
#newspecialtmp.processing:hover .button-left,
#newspecialtmp.disabled .button-left,
#newspecialtmp.disabled:hover .button-left { background-position: 0 -82px; cursor: default; }

#newspecialtmp.processing .button-right,
#newspecialtmp.processing:hover .button-right,
#newspecialtmp.disabled .button-right,
#newspecialtmp.disabled:hover .button-right { background-position: 100% -205px; cursor: default; color: #953203 }

#newspecialtmp.previous .button-left, #newspecialtmp.next .button-right { background-image: url("../images/buttons/button-1-previous.png"); }
#newspecialtmp.previous .button-left { padding-left:28px; }
#newspecialtmp.previous .button-right { padding-right:12px; }

#newspecialtmp.next .button-left, #newspecialtmp.next .button-right { background-image: url("../images/buttons/button-1-next.png"); }
#newspecialtmp.next .button-left { padding-left:12px; }
#newspecialtmp.next .button-right { padding-right:28px; }

#scrolltop{
    display: none;
}


#fastpostsubmit{
    background-image: url({STYLEIMGDIR}/button-1.png);
    background-repeat: no-repeat;
    background-position: 0 -41px;
    padding: 0 0 0 28px;
    border: 0px !important;
}
#fastpostsubmit strong{
     background-image: url({STYLEIMGDIR}/button-1.png);
    background-repeat: no-repeat;
    background-position: 100% -164px;
    height: 38px;
        padding: 0 28px 0 0;
        line-height: 38px;
        font-family: Dotum;
        display: inline-block;
}


.pn{
    background:none;
    border: none !important;

}


.pnpost .pn {
    height: 38px;
}

/** end **/


/**forum::viewthread**/
#wp {
    background: url(http://bbs.wuwenfu.net/template/htt_luacn/images/content-topbot.jpg) 0 0 no-repeat;
    background-color: #1a0f08 !important;
}

#newspecial .button-left,#newspecial .button-right { background-image: url({STYLEIMGDIR}/button-1.png); background-repeat: no-repeat; color: #ffae00; }
#newspecial .button-left { padding:0 0 0 28px; background-position:0 0; height:38px; line-height:37px; }
#newspecial .button-right { padding: 0 28px 0 0; background-position: 100% -123px; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:12px; height:38px; line-height:38px; text-transform: uppercase; }
#newspecial .button-right { font-family: Dotum; }
#newspecial:hover .button-left { background-position: 0 -41px; }
#newspecial:hover .button-right { color:#FFF; background-position:100% -164px; }

#newspecial.processing .button-left,
#newspecial.processing:hover .button-left,
#newspecial.disabled .button-left,
#newspecial.disabled:hover .button-left { background-position: 0 -82px; cursor: default; }

#newspecial.processing .button-right,
#newspecial.processing:hover .button-right,
#newspecial.disabled .button-right,
#newspecial.disabled:hover .button-right { background-position: 100% -205px; cursor: default; color: #953203 }

#newspecial.previous .button-left, #newspecial.next .button-right { background-image: url("../images/buttons/button-1-previous.png"); }
#newspecial.previous .button-left { padding-left:28px; }
#newspecial.previous .button-right { padding-right:12px; }

#newspecial.next .button-left, #newspecial.next .button-right { background-image: url("../images/buttons/button-1-next.png"); }
#newspecial.next .button-left { padding-left:12px; }
#newspecial.next .button-right { padding-right:28px; }

.button-right,.button-left{
    display: inline-block;
}





#post_reply .button-left,#post_reply .button-right { background-image: url({STYLEIMGDIR}/button-1.png); background-repeat: no-repeat; color: #ffae00; }
#post_reply .button-left { padding:0 0 0 28px; background-position:0 0; height:38px; line-height:37px; }
#post_reply .button-right { padding: 0 28px 0 0; background-position: 100% -123px; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:12px; height:38px; line-height:38px; text-transform: uppercase; }
#post_reply .button-right { font-family: Dotum; }
#post_reply:hover .button-left { background-position: 0 -41px; }
#post_reply:hover .button-right { color:#FFF; background-position:100% -164px; }

#post_reply.processing .button-left,
#post_reply.processing:hover .button-left,
#post_reply.disabled .button-left,
#post_reply.disabled:hover .button-left { background-position: 0 -82px; cursor: default; }

#post_reply.processing .button-right,
#post_reply.processing:hover .button-right,
#post_reply.disabled .button-right,
#post_reply.disabled:hover .button-right { background-position: 100% -205px; cursor: default; color: #953203 }

#post_reply.previous .button-left, #post_reply.next .button-right { background-image: url("../images/buttons/button-1-previous.png"); }
#post_reply.previous .button-left { padding-left:28px; }
#post_reply.previous .button-right { padding-right:12px; }

#post_reply.next .button-left, #post_reply.next .button-right { background-image: url("../images/buttons/button-1-next.png"); }
#post_reply.next .button-left { padding-left:12px; }
#post_reply.next .button-right { padding-right:28px; }

.pg a, .pg strong, .pgb a, .pg label{
    background:none;
    border: none;
    color: #953203;
}

.bbs {
    border-bottom: none !important;
}

.bm {
    border: none;
    background: none;
}

.pls {
    background: none;
    border:none;
}

#thread_subject{
    color: #F3E6D0;
    font-size:30px;
}


#postlist > table.ad{
    display: none;
}

.pi {

    border-bottom:none;
}

.plhin{
    background: url({STYLEIMGDIR}/post_bg.jpg) 50% 0 no-repeat;
}

.ad{
    display: none;
}

.po{
    border: none;
}


.pi strong a{
    border: none;
}

#p_btn{
    display: none;
}


.tedt .pt{
    background-color: #261913;
}


.pnc, a.pnc{
    background-color: #261913;

}

.pn{
    background:none;
    border: none !important;

}


.pnpost .pn {
    height: 38px;
}





#newspecialtmp .button-left,#newspecialtmp .button-right { background-image: url({STYLEIMGDIR}/button-1.png); background-repeat: no-repeat; color: #ffae00; }
#newspecialtmp .button-left { padding:0 0 0 28px; background-position:0 0; height:38px; line-height:37px; }
#newspecialtmp .button-right { padding: 0 28px 0 0; background-position: 100% -123px; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:12px; height:38px; line-height:38px; text-transform: uppercase; }
#newspecialtmp .button-right { font-family: Dotum; }
#newspecialtmp:hover .button-left { background-position: 0 -41px; }
#newspecialtmp:hover .button-right { color:#FFF; background-position:100% -164px; }

#newspecialtmp.processing .button-left,
#newspecialtmp.processing:hover .button-left,
#newspecialtmp.disabled .button-left,
#newspecialtmp.disabled:hover .button-left { background-position: 0 -82px; cursor: default; }

#newspecialtmp.processing .button-right,
#newspecialtmp.processing:hover .button-right,
#newspecialtmp.disabled .button-right,
#newspecialtmp.disabled:hover .button-right { background-position: 100% -205px; cursor: default; color: #953203 }

#newspecialtmp.previous .button-left, #newspecialtmp.next .button-right { background-image: url("../images/buttons/button-1-previous.png"); }
#newspecialtmp.previous .button-left { padding-left:28px; }
#newspecialtmp.previous .button-right { padding-right:12px; }

#newspecialtmp.next .button-left, #newspecialtmp.next .button-right { background-image: url("../images/buttons/button-1-next.png"); }
#newspecialtmp.next .button-left { padding-left:12px; }
#newspecialtmp.next .button-right { padding-right:28px; }



#post_replytmp.button-left,#post_replytmp.button-right { background-image: url({STYLEIMGDIR}/button-1.png); background-repeat: no-repeat; color: #ffae00; }
#post_replytmp.button-left { padding:0 0 0 28px; background-position:0 0; height:38px; line-height:37px; }
#post_replytmp.button-right { padding: 0 28px 0 0; background-position: 100% -123px; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:12px; height:38px; line-height:38px; text-transform: uppercase; }
#post_replytmp.button-right { font-family: Dotum; }
#post_replytmp:hover .button-left { background-position: 0 -41px; }
#post_replytmp:hover .button-right { color:#FFF; background-position:100% -164px; }

#post_replytmp.processing .button-left,
#post_replytmp.processing:hover .button-left,
#post_replytmp.disabled .button-left,
#post_replytmp.disabled:hover .button-left { background-position: 0 -82px; cursor: default; }

#post_replytmp.processing .button-right,
#post_replytmp.processing:hover .button-right,
#post_replytmp.disabled .button-right,
#post_replytmp.disabled:hover .button-right { background-position: 100% -205px; cursor: default; color: #953203 }

#post_replytmp.previous .button-left, #post_replytmp.next .button-right { background-image: url("../images/buttons/button-1-previous.png"); }
#post_replytmp.previous .button-left { padding-left:28px; }
#post_replytmp.previous .button-right { padding-right:12px; }

#post_replytmp.next .button-left, #post_replytmp.next .button-right { background-image: url("../images/buttons/button-1-next.png"); }
#post_replytmp.next .button-left { padding-left:12px; }
#post_replytmp.next .button-right { padding-right:28px; }



#fastpostsubmit{
    background-image: url({STYLEIMGDIR}/button-1.png);
    background-repeat: no-repeat;
    background-position: 0 -41px;
    padding: 0 0 0 28px;
    border: 0px !important;
}
#fastpostsubmit strong{
     background-image: url({STYLEIMGDIR}/button-1.png);
    background-repeat: no-repeat;
    background-position: 100% -164px;
    height: 38px;
        padding: 0 28px 0 0;
        line-height: 38px;
        font-family: Dotum;
        display: inline-block;
}

.pls .avatar img{
    background-color: #643414;
    background-image: none;
}


/**end**/




