
*,#toptb{
	background-color: black;
	color: #FF6100;
}

body{
	background:black;
}

#um,#um a {
    color: #FF6100;
}

#nv{
	background:black;
}

#nv li{
	background:black;
}
#nv li a{
	color:#FF6100; 
}
}

#nv li.a{
	background:black;
	
}
.scbar_icon_td{
	background:black;
}

.scbar_txt_td, .scbar_type_td{
	background:black;
}

.xg1, .xg1 a{
	color: #FF6100  !important;
}

.xi2, .xi2 a, .xi3 a{
	color: #FF6100;
}

a{
	color: #FF6100;
}

.chart{
	color: #FF6100 !important;
}

.chart em{
	color: #FF6100 !important;
}
